extends ../layout

block fullWidthContent
    #app 
        p selected: {{selectedYear}} {{selectedMake}} {{selectedModel}}
        
        br 
        #year(v-if="stage=='year'")
            span.year( v-for="year in years" :value="year" @click="selectedYear = year") {{year}}
            br
            .buttons
                a.btn.btn-primary(@click="selectYear" :disabled="selectedYear == ''") Next

        #make(v-if="stage == 'make'")
            h2 Select Make
            div.row
                div.card(v-for="make in makes" @click="selectedMake = make" :class="{active: selectedMake == make}")
                    img.card-img-top(:src="'/img/makes/'+make+'.png'")
                    div.card-block.text-center
                        span {{make}}
            .buttons
                a.btn(@click="stage='year'; selectedMake=''") Back
                | &nbsp;            
                a.btn.btn-primary(@click="selectMake" :disabled="selectedMake == ''") Next

        #model(v-if="stage == 'model'")
            h2 Select model
            .row
                .card(v-for="model in models" @click="selectedModel = model" :class="{active: selectedModel == model}")
                    img.card-img-top(:src="'/img/models/'+model+'.png'")
                    div.card-block.text-center
                        span {{model}}
            .buttons
                a.btn(@click="stage='make'; selectedModel=''") Back
                | &nbsp;                       
                a.btn.btn-primary(@click="selectModel" :disabled="selectedModel == ''") Next

        #options(v-if="stage == 'options'")
            h2 Select options
            ul  
                li(v-for="item in items")
                    span {{item}}
            .buttons
                a.btn(@click="stage='model'; selectedOptions=[]") Back    

block footerscripts
    script(src="./js/wizard.js")