@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";

@import "themes/default/default";

#app{
  padding:0 30px;
}

// Wizard
span.year{
  padding:10px;  
}

.card{
  border-radius:2px;
  border:1px solid #eee;
  padding:10px;
  margin:10px;
  text-align: center;
  display:inline-block;
  cursor:pointer;
}
.card.active{
  background: #f2f2f2;
  border-color:#3d86fc;
}

.buttons{
  margin-top:10px;
  padding-top:20px;
  border-top:1px solid #eee;
}


// Scaffolding
// -------------------------
th select{
  width:80%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
